include *.rst
include LICENSE
include openforms/py.typed
recursive-include openforms *.html
recursive-include openforms *.txt
recursive-include openforms *.po
global-exclude __pycache__
global-exclude *.py[co]

