interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://open-forms.test.maykin.opengem.nl/api/v2/public/forms
  response:
    body:
      string: ''
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - nl
      Content-Type:
      - application/json
      X-CSRFToken:
      - 8i8o2vbaoFxknV1lkcgU3yOfg9U3m6h4bvTUwWGexKCYJWCWQEOirJEMupum3hZb
      X-Is-Form-Designer:
      - 'true'
      X-Session-Expires-In:
      - '300'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://open-forms.test.maykin.opengem.nl/api/v2/public/forms
  response:
    body:
      string: "{\"results\":[{\"uuid\":\"9c65ab49-2635-4c8d-ac22-aaca67044a6c\",\"name\":\"Open
        Inwoner ZGW Dev\",\"internalName\":\"\",\"slug\":\"open-inwoner-zgw-dev\"},{\"uuid\":\"cdf10c6c-93c2-4ddd-822f-84158f8c1569\",\"name\":\"Test
        logic with repeating groups\",\"internalName\":\"\",\"slug\":\"test-logic-with-repeating-groups\"},{\"uuid\":\"0ba77cff-eff9-4d90-9c46-fa0c5ab8227c\",\"name\":\"Maykin
        Test - All Fields\",\"internalName\":\"\",\"slug\":\"maykin-test-all-fields\"},{\"uuid\":\"a8790afe-d596-4aa4-9a2a-5589eaa24fa1\",\"name\":\"Test
        mede ondertekenen (kopie)\",\"internalName\":\"\",\"slug\":\"test-med[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://open-forms.test.maykin.opengem.nl/api/v2/forms/9c65ab49-2635-4c8d-ac22-aaca67044a6c
  response:
    body:
      string: '{"uuid":"9c65ab49-2635-4c8d-ac22-aaca67044a6c","name":"Open Inwoner
        ZGW Dev","internalName":"","loginRequired":false,"translationEnabled":false,"registrationBackends":[{"key":"zgw-create-zaak","name":"ZGW
        API''s","backend":"zgw-create-zaak","options":{"zaaktype":"https://test.openzaak.nl/catalogi/api/v1/zaaktypen/a88c1519-6de5-4db3-8cb6-35c6942938d3","zgwApiGroup":1,"informatieobjecttype":"https://test.openzaak.nl/catalogi/api/v1/informatieobjecttypen/1db73aba-cef4-42ec-bdf0-cd4c7c4f2514"}}],"registrationBackend":"zgw-create-zaak","registrationBackendOptions":{"zaaktype":"https://test.openzaak.nl/catalogi/api/v1/zaaktypen/a88c1519-6de5-4db3-8cb6-35c6942938d3","zgwApiGroup":1,"informatieobjecttype":"https://test.openzaak.nl/catalogi/api/v1/informatieobjecttypen/1db73aba-cef4-42ec-bdf0-cd4c7c4f2514"},"authenticationBackendOptions":{},"loginOptions":[],"autoLoginAuthenticationBackend":"","paymentRequired":false,"paymentBackend":"","paymentBackendOptions":{},"paymentOptions":[],"appointmentOptions":{"isAppointment":false,"supportsMultipleProducts":null},"literals":{"previousText":{"resolved":"Vorige
        stap","value":""},"beginText":{"resolved":"Formulier starten","value":""},"changeText":{"resolved":"Wijzigen","value":""},"confirmText":{"resolved":"Bevestigen","value":""}},"product":null,"slug":"open-inwoner-zgw-dev","url":"https://open-forms.test.maykin.opengem.nl/api/v2/forms/9c65ab49-2635-4c8d-ac22-aaca67044a6c","category":"https://open-forms.test.maykin.opengem.nl/api/v2/public/categories/5ad402aa-3330-402b-b763-670dbc2d5521","theme":null,"steps":[{"uuid":"7a6e3281-2717-47b4-b5b4-f0fb5d541fcb","slug":"open-inwoner-zgw-dev","formDefinition":"Open
        Inwoner ZGW Dev","index":0,"literals":{"previousText":{"resolved":"Terug","value":""},"saveText":{"resolved":"Pauzeren","value":""},"nextText":{"resolved":"Volgende","value":""}},"url":"https://open-forms.test.maykin.opengem.nl/api/v2/forms/9c65ab49-2635-4c8d-ac22-aaca67044a6c/steps/7a6e3281-2717-47b4-b5b4-f0fb5d541fcb","isApplicable":true}],"showProgressIndicator":true,"maintenanceMode":false,"active":true,"activateOn":null,"deactivateOn":null,"isDeleted":false,"submissionConfirmationTemplate":"","explanationTemplate":"","submissionAllowed":"yes","suspensionAllowed":true,"askPrivacyConsent":"global_setting","askStatementOfTruth":"global_setting","submissionsRemovalOptions":{"successfulSubmissionsRemovalLimit":null,"successfulSubmissionsRemovalMethod":"","incompleteSubmissionsRemovalLimit":null,"incompleteSubmissionsRemovalMethod":"","erroredSubmissionsRemovalLimit":null,"erroredSubmissionsRemovalMethod":"","allSubmissionsRemovalLimit":null},"confirmationEmailTemplate":{"subject":"","content":"","translations":{"nl":{"subject":"","content":""},"en":{"subject":"","content":""}}},"sendConfirmationEmail":true,"displayMainWebsiteLink":true,"includeConfirmationPageContentInPdf":true,"requiredFieldsWithAsterisk":false,"translations":{"nl":{"name":"Open
        Inwoner ZGW Dev","submissionConfirmationTemplate":"","beginText":"","previousText":"","changeText":"","confirmText":"","explanationTemplate":""},"en":{"name":"","submissionConfirmationTemplate":"","beginText":"","previousText":"","changeText":"","confirmText":"","explanationTemplate":""}},"resumeLinkLifetime":7,"hideNonApplicableSteps":true,"cosignLoginOptions":[],"cosignLoginInfo":null,"submissionStatementsConfiguration":[{"key":"privacyPolicyAccepted","label":"<p>Ja,
        ik heb kennis genomen van het <a href=\"https://www.maykinmedia.nl/en/privacy/\"
        target=\"_blank\" rel=\"noreferrer noopener\">privacybeleid</a>&nbsp;en geef
        uitdrukkelijk toestemming voor het verwerken van de door mij opgegeven gegevens.</p>","validate":{"required":true},"type":"checkbox"},{"key":"statementOfTruthAccepted","label":"<p>Ik
        verklaar dat ik deze aanvraag naar waarheid heb ingevuld en geen informatie
        heb verzwegen.</p>","validate":{"required":false},"type":"checkbox"}],"submissionReportDownloadLinkTitle":"Download
        een overzicht van de ingestuurde gegevens.","brpPersonenRequestOptions":null}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Language:
      - nl
      Content-Type:
      - application/json
      X-CSRFToken:
      - mEhOGFMpge2iqYcifHl6m9hp4SpLPnuVi8Umi5fZqT4sjzKwwS4nvI7Q2ZkFIJy3
      X-Is-Form-Designer:
      - 'true'
      X-Session-Expires-In:
      - '300'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://open-forms.test.maykin.opengem.nl/api/v2/forms/aaaa-bbbb-cccc-dddd
  response:
    body:
      string: '{"type":"https://open-forms.test.maykin.opengem.nl/fouten/NotFound/","code":"not_found","title":"Niet
        gevonden.","status":404,"detail":"Niet gevonden.","instance":"urn:uuid:b5638414-d8b9-4c18-9a8d-558e6e344732"}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Language:
      - nl
      Content-Type:
      - application/json
      X-CSRFToken:
      - wSyTpCI8IlEHpKtjkcvvrc4WaBykPZH4KwXHB4gm3ualThGecaLcltDm0EwZU5yv
      X-Is-Form-Designer:
      - 'true'
      X-Session-Expires-In:
      - '300'
    status:
      code: 404
      message: Not Found
version: 1
