interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://open-forms.test.maykin.opengem.nl/api/v2/public/forms
  response:
    body:
      string: '{"type":"https://open-forms.test.maykin.opengem.nl/fouten/AuthenticationFailed/","code":"authentication_failed","title":"Ongeldige
        authenticatiegegevens.","status":401,"detail":"Ongeldige token.","instance":"urn:uuid:b3f40157-9442-486c-aaba-037f9342c703"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - nl
      Content-Type:
      - application/json
      WWW-Authenticate:
      - Token
      X-CSRFToken:
      - 5dZg56rok3RheSgkWWqoIhnpkBNVnweDmGcAGv2FKNnwMYvc2KNsTDwm47CpDYZz
      X-Session-Expires-In:
      - '300'
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
    method: GET
    uri: https://open-forms.test.maykin.opengem.nl/api/v2/forms/9c65ab49-2635-4c8d-ac22-aaca67044a6c
  response:
    body:
      string: '{"type":"https://open-forms.test.maykin.opengem.nl/fouten/AuthenticationFailed/","code":"authentication_failed","title":"Ongeldige
        authenticatiegegevens.","status":401,"detail":"Ongeldige token.","instance":"urn:uuid:d545fdc9-8186-456a-999b-c0c388fe922a"}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Language:
      - nl
      Content-Type:
      - application/json
      WWW-Authenticate:
      - Token
      X-CSRFToken:
      - SDRW8cYDR5y2Ti1Ihv4D8Uns3RlWJ44eWUjzLlzQPK8murMnRmT6uNnmKciBtKMd
      X-Session-Expires-In:
      - '300'
    status:
      code: 401
      message: Unauthorized
version: 1
